<section class="section_account">
    <h1>Reset your Password</h1>

    <form action="/reset-password" method="POST" class="form-group">
        <input type="email" name="email" placeholder="Email">
        <button class="btn btn-primary" type="submit">Send link to reset password</button>
    </form>

</section>