<section class="section_account">
    <h1>Set a New Password</h1>

    <form action="/reset-password?token={{token}}" method="POST" class="form-group">
        <input type="password" name="newPassword" placeholder="New Password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm New Password" required>
        <button class="btn btn-primary" type="submit">Set New Password</button>
    </form>
</section>